html{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-align: center;
}

img {

    position: static;
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 10px;
    margin-right: 10px;
    height: auto;
    width: 200px;
}

#ganzBild {
    height: auto;
    width: auto;
}

#fertigSim{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#message{
    color: green;
}

#error{
    color: red;
}
 