html{
    background-image: url("dateien/hintergrundbild.png");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#circle{
    width: 800px;
    height: 800px;
    background-color:#b63514;
    border-radius: 50%;
    margin:-400px auto auto auto;
    text-align: center;
    z-index:2;
 }

#aktuell{
    color: #b63514;
}

#nachricht{
    background-color: grey;
    padding: 5px;
    margin-top: 20px;
}

.header-bar-inner{
    text-align: right;
    background-color: black;
    padding: 5px; 
    width:320px;
    position: fixed;
    top:0px;
    right:60px;
}
.header-links{
    color: white;
    margin-right: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

/*.kontaktformular{
    width: 200px;
    background-color: gray; 
}*/

.seiteninhalt{
    color: white;
    text-align: right;
    margin-right: 80px;
    margin-left: 200px;
}

h1{
    font-size: 40pt;
    font-weight: bold;
    text-align: center;
    text-transform: lowercase;
    color: white;
    z-index:1;
}

h3{
    font-size: 16pt;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
    color: #b63514;
    margin-top: 40px;
}

small{
    color: grey;
}
a:hover{
    color:#b63514;
}

label{
    color: white;
    background-color: grey;
    padding: 5px; 
    margin-top: 20px;
}
input{
    background-color: grey;
    margin-top: 20px;
    padding: 5px;
    color: white;
    text-align: center;
}


